/* 公共样式 */
.w {
  width: 1240px;
  margin: 0 auto;
}

/* 1.头部 */
/* 1.1导航部分 */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut ul {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shortcut li a {
  color: #fff;
}

.shortcut li a:hover {
  color: #5eb69c;
}

.shortcut li.line {
  width: 1px;
  height: 12px;
  background-color: #999;
  margin: 0 15px;
}

.shortcut li a i {
  font-size: 18px;
  margin-right: 4px;
}

.shortcut ul li:first-child a {
  color: #5eb69c;
}

/* 1.2header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
}

.header .logo {
  width: 200px;
  height: 88px;
  background-color: #5eb69c;
}

.header .logo h1 {
  width: 100%;
  height: 100%;
}

.header .logo h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat center center;
  text-indent: -9999px;
  overflow: hidden;
}

.header .nav {
  display: flex;
  gap: 48px;
}

.header .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
}

.header .nav li a:hover {
  border-bottom: 2px solid #5eb69c;
}

.header .search input {
  width: 170px;
  height: 40px;
  border-bottom: 2px solid #f4f4f4;
  padding-left: 28px;
  font-size: 16px;
}

.header .search input::placeholder {
  font-size: 16px;
  color: #ccc;
}

.cart a i {
  font-size: 40px;
  margin-right: 15px;
}

/* 2.尾部 */
.footer {
  height: 580px;
  background-color: #f5f5f5;
}

.footer .slogan {
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.footer .slogan ul {
  height: 178px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .slogan ul li {
  display: flex;
  align-items: center;
}

.footer .slogan ul li h5 {
  width: 58px;
  height: 58px;
  background: url(../images/sprite.png) no-repeat 0 0;
}

.footer .slogan ul li p {
  font-size: 28px;
  margin-left: 20px;
}

.footer .slogan ul li .icon2 {
  background-position: 0 -58px;
}

.footer .slogan ul li .icon3 {
  background-position: 0 -116px;
}

.footer .slogan ul li .icon4 {
  background-position: 0 -174px;
}

/* 2.2服务模块 */
.footer .service {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer .service-left {
  display: flex;
  gap: 84px;
}

.footer .service-left dt {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer .service-left dd {
  margin-bottom: 10px;
}

.footer .service-left dd a {
  color: #969696;
}

.footer .service-left dd a i {
  color: #00be9a;
}

.service-rigth ul {
  display: flex;
  text-align: center;
}

.service-rigth ul li {
  margin-left: 55px;
  color: #969696;
}

.service-rigth ul img {
  width: 120px;
  height: 120px;
}

.service-rigth ul li p {
  margin-top: 10px;
}

.copyright {
  margin-top: 90px;
  text-align: center;
  line-height: 30px;
  color: #a1a1a1;
}

.copyright a {
  color: #a1a1a1;
}

/* 给单行文字添加省略号单独一个类名 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}