.entry {
  height: 500px;
  background-color: #f5f5f5;
}

.entry .w {
  height: 100%;
  background: url(../uploads/banner1.png) no-repeat center center;
}

.category {
  height: 100%;
  width: 250px;
  background-color: rgba(0, 0, 0, .42);
}

.category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 30px;
  padding-right: 12px;
  color: #fff;
}

.category ul li:hover {
  background-color: #00be9a;
}

.category ul li p a {
  color: #fff;
  font-size: 14px;
}

.category ul li p a:first-child {
  font-size: 16px;
  margin-right: 10px;
}